.TodoItem {
  color: #333;
  background-color: #12df45;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  

  transition: background-color .2s ease-out;
}

.TodoItem:hover {
  background-color: rgb(241, 3, 43);
  cursor: pointer;
} 